
/*El diseño del menu*/

body{
    background: white;
}

body.dark{
    background: #151515;
}

header{
    width: 100%;
    height: 75px;
    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background: white;
    box-shadow: 1px 1px 5px rgb(197, 197, 197);
}

body.dark header{
    box-shadow: 1px 1px 5px black;
}

body.dark header{
    background: #151515;
}

.contenedor-logo{
    width: 135px;
    position: relative;
    left: -5px;
}

.logo{
    width: 45px;
    height: 45px;
    position: relative;
    left: 10px;
    top: 15px;
    box-shadow: 1px 1px 5px gray;
    border-radius: 100%;
}

body.dark .logo{
    box-shadow: 1px 1px 10px black;
}

.letra-logo{
    font-family: 'Anton', sans-serif;
    font-family: 'Spline Sans', sans-serif; 
    font-weight:bold;
    font-size: 25px;
    text-decoration: none;
    position: relative;
    top: 4px;
    left: 5px;
    color: black; 
    cursor: pointer;
}

body.dark a.letra-logo{
    color: white;
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin:auto;
}

nav ul{
    display: flex;
    margin-right: 60px;
    list-style: none;
    max-width: 2500px;
}

nav ul li{
    margin: 0 20px;
    line-height: 55px;
    width: max-content;
}

nav ul li a{
    text-decoration: none;
}

.font{
    font-size: 18px;
    font-weight:bold;
    font-family: 'Anton', sans-serif;
    font-family: 'Spline Sans', sans-serif;   
    color: black; 
    cursor: pointer;
}

body.dark .font{
    color: #EFEFEF;
}

.font:hover{
    background: rgb(255, 102, 0);
    border-radius: 5px;
    transition: 500ms;
}

body.dark .font:hover{
    color: black;
}

.font:active{
    background: rgb(255, 102, 0);
    color: #EFEFEF;
    transition: 500ms;
}

body.dark .font:active{
    background: rgb(255, 102, 0);
    color: #EFEFEF;
}

.submenu-redes{
    position: absolute;
    display: block;
    background: white;
    padding-left: 10px;
    overflow: hidden;
    height: 0;
    border-radius: 5px;
    transition: 300ms;
    box-shadow: 1px 1px 5px rgb(197, 197, 197);
}

.submenu-redes.abrir-submenu{
    overflow: visible;
    height: 220px;
}

body.dark .submenu-redes{
    background: #101010;
    box-shadow: 1px 1px 5px black;
}

.submenu-idiomas{
    position: absolute;
    display: block;
    background: white;
    padding-left: 10px;
    overflow: hidden;
    height: 0;
    border-radius: 5px;
    transition: 300ms;
    box-shadow: 1px 1px 5px rgb(197, 197, 197);
}

.submenu-idiomas.abrir-idiomas{
    overflow: visible;
    height: 220px;
}

body.dark .submenu-idiomas{
    background: #101010;
    box-shadow: 1px 1px 5px black;
}

.boton-sesion{
    font-family: 'Anton', sans-serif;
    font-family: 'Spline Sans', sans-serif;
    font-weight:bold;
    font-size: 15px;
    width: 130px;
    height: 35px;
    border-radius: 5px;
    background: white;
    color: black;
    cursor: pointer;
    transition:300ms;
    padding: 4px;
    border-color: black;
}

body.dark .boton-sesion{
    background: #202020;
    color: #EFEFEF;
    border-color: white;
}

.boton-sesion:active{
    background: black;
    color: white;
}

body.dark .boton-sesion:active{
    background: white;
    color: black;
}
 
.switch{
    width: 40px;
    height: 20px;
    background: black;
    border-radius: 1000px;
    border: none;
    position: relative;
    top: 35px;
    left: 800px;
    cursor: pointer;
    display: flex;
    outline: none;
}

.switch::after{
    content: "";
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 0;
    left: 0;
    right: unset;
    background: #f1f1f1;
    border-radius: 100px;
    transition: 400ms ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0.2);
}

.switch.active{
    background: white;
    color: #000;
}

.switch.active::after{
    right: 0;
    left: unset;
}

.luna{
    width: 30px;
    height: 30px;
    line-height: 20px;
    display: block;
    background: none;
    color: #EFEFEF;
}

.sol{
    color:rgb(255, 102, 0);
}
  
.nav-toggle {
    width: 3rem;
    height: 2rem;
    background: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    display: none;
    transition: 300ms;
    border-color: white;
    box-shadow: 1px 1px 5px gray;
}

body.dark button.nav-toggle{
    border-color: #404040;
    background-color: #404040;
}
   
.toggle__line {
    position: relative;
    width: 80%;
    height: 0.2rem;
    background-color: #909090;
    border-radius: 5px;
    box-shadow:0 7px #909090, 0 -7px #909090;
    transition: transform 0.3s, box-shadow 0.3s 0.5s;
}

.toggle__line::after {
    margin: -13px;
    margin-top: 0px;
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background-color: #909090;
    border-radius: 5px;
    transform: rotate(45deg) translate(-200px);
    transition: transform 0.3s 0.5s;
}

body.dark button i.toggle__line::after{
    background-color: #909090;
}
      
.active .toggle__line {
    box-shadow: -150px 22px transparent, 150px -22px transparent;
    transform: rotate(45deg);
    transition: transform 0.3s 0.5s, box-shadow 0.3s;
}
      
.active .toggle__line::after {
    transform: rotate(90deg) translate(0);
}

@media (max-width:1365px){

    .font:hover{
        background: white;
        border-radius: 5px;
        transition: 500ms;
    }

    body.dark .font:hover{
        background: #151515;
        color: white;
    }

    .font:active{
        background: rgb(255, 102, 0);
        color: #EFEFEF;
        transition: 500ms;
    }
    
    body.dark .font:active{
        background: rgb(255, 102, 0);
        color: #EFEFEF;
    }
}

@media (max-width:1000px){

    .contenedor-logo{
        width: 135px;
        position: relative;
        left: -5px;
    }

    nav ul{
        flex-direction: column;
        margin-right: 20px;
        background:white;
        position: fixed;
        top: 53px;
        width: 100%;
        height: 40%;
        padding: 20px 0;
        align-items: center;
        transition: left 500ms;
        height: calc(100%-60%);
        overflow-y: auto;
        left: 100%; 
        box-shadow: 1px 1px 5px #000;
        border-radius: 5px;
    }

    body.dark nav ul{
        background: #151515;
    }

    .submenu-redes{
        position: static;
        display: block;
        padding-left: 40px;
        overflow: hidden;
        height: 0;
        width: 135px;
        border-radius: 5px;
        transition: 300ms;
        margin-top:-50px ;
        margin-left: 20px;
    }

    .letra-redes{
        position: relative;
        left: 35px;
    }

    .submenu-idiomas{
        position: static;
        display: block;
        padding-left: 20px;
        overflow: hidden;
        height: 0;
        width: 130px;
        border-radius: 5px;
        transition: 300ms;
        margin-top:-50px ;
        margin-left: 20px;
    }

    .letra-idioma{
        position: relative;
        left: 30px;
    }

    .font{
        position: relative;
        top: 2px;
    }

    .switch{
        position: relative;
        top: 28px;
        left: 25px;
    }
    
    .nav-toggle{
        display: flex;
        position: relative;
        top: -10px;   
        margin: 30px;
    }
    
    .visible{
       left: 0;
    }    
}

@media (max-width:300px){

    .contenedor-logo{
        width: 135px;
        position: relative;
        top: 10px;
    }

    .logo{
        width: 30px;
        height: 30px;
    }
    
    .letra-logo{
        font-size: 15px;
    }

    .nav-toggle {
       position: relative;
       left: 20px;
    }
}

::-webkit-scrollbar{
    width:10px;
    background:black;
}   

::-webkit-scrollbar-thumb{
    border-radius: 12px;
    background: rgb(255, 102, 0);
} 

/*El banner*/

.contenedor-banner{
    width: 100%;
    height: 560px;
    max-width: 7000px;
    box-shadow: 0px 10px 5px -9px rgb(197, 197, 197);
    -webkit-box-shadow: 0px 10px 5px -9px rgb(197, 197, 197);
    -moz-box-shadow: 0px 10px 5px -9px rgb(197, 197, 197);
}

body.dark .contenedor-banner{
    box-shadow: 0px 10px 5px -9px black;
    -webkit-box-shadow: 0px 10px 5px -9px black;
    -moz-box-shadow: 0px 10px 5px -9px black;
}

.banner{
    display: grid;
    margin: auto;
    width: 990px;
    height: 540px;
    position: relative;
    top:10px;
    left: 10px;
}

.contenidos-banner{
    position: relative;
    top:100px;
    width: 390px;
    height: 300px;
}

.solo-disfrute{
    font-family: 'Anton', sans-serif;
    font-family: 'Spline Sans', sans-serif;
    font-weight: bold;
    font-size: 65px;
    height: 70px;
    width: 800px;
}

body.dark .solo-disfrute{
    color:white;
} 

.descripcion{
    font-family: 'Anton', sans-serif;
    font-family: 'Spline Sans', sans-serif;
    font-weight: bold;
    font-size: 22px;   
    width: 300px;
    height: 140px;
    position:relative;
    top:-30px;
    color: #595959;
}

body.dark .descripcion{
    color: #DBDBDB;
}

.boton-banner{
    font-family: 'Anton', sans-serif;
    font-family: 'Spline Sans', sans-serif;
    font-weight:bold;
    font-size: 25px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    color: black;
    background: white;
    cursor: pointer;
    transition:300ms;
    padding: 4px;
    position:relative;
    top: -40px;
    border-color: black;
}

body.dark .boton-banner{
    background: #202020;
    color: #efefef;
    border-color: white;
}

.boton-banner:active{
    background: black;
    color: white;
}

body.dark .boton-banner:active{
    background: white;
    color: black;
}

.animacion{
    position: relative;
    top: -200px;
    left: 395px;
    width:580px;
    height: 400px;
    margin: 5px;
    border-radius: 3px; 
    overflow: hidden;
    box-shadow: 1px 1px 5px gray;
}

body.dark .animacion{
    box-shadow: 1px 1px 5px blue;
}

.animacion ul{
    padding-left: 0px;
    margin: -1px;
    list-style: none;
    display: flex;
    animation: slide 16s infinite alternate;
}

.animacion-imagen{
    width:580px;
    height: 401px;
    border-radius: 5px;
}
      
@keyframes slide{
    0%{margin-left: 0px;}
    20%{margin-left: 0px;}
    
    25%{margin-left:-580px;}
    45%{margin-left:-580px;}
    
    50%{margin-left:-1160px;}
    70%{margin-left:-1160px;}
    
    75%{margin-left:-1740px;}
    100%{margin-left:-1740px;}
}

@media(max-width:1000px){

    .contenedor-banner{
        width: 100%;
        height: 500px;
    }
    
    .banner{
        width: 780px;
        height: 450px;
    }
    
    .contenidos-banner{
        position: relative;
        top:100px;
        width: 300px;
        height: 300px;
    }
    
    .solo-disfrute{
        font-size: 50px;
        height: 70px;
        width: 300px;
    }

    .descripcion{
        font-size: 20px;   
    }
    
    .boton-banner{
        font-size: 25px;
        width: 120px;
        height: 50px;
        position: relative;
        top: -90px;
    }
    
    .animacion{
        position: relative;
        top: -200px;
        left: 310px;
        width:450px;
        height: 330px;
    }

    .animacion-imagen{
        width:450px;
        height: 331px;
    }
          
    @keyframes slide{
        0%{margin-left: 0px;}
        20%{margin-left: 0px;}
        
        25%{margin-left:-450px;}
        45%{margin-left:-450px;}
        
        50%{margin-left:-900px;}
        70%{margin-left:-900px;}
        
        75%{margin-left:-1350px;}
        100%{margin-left:-1350px;}
    }

}

@media(max-width:800px){

    .contenedor-banner{
        width: 100%;
        height: 820px;
    }
    
    .banner{
        position: relative;
        top: -50px;
        left: 1px;
        width: 520px;
        height:860px;
    }
    
    .contenidos-banner{
        position: relative;
        top:100px;
        left: 10px;
        width: 500px;
        height: 300px;
    }
    
    .solo-disfrute{
        font-size: 80px;
        height: 70px;
        width: 500px;
    }

    .descripcion{
        width: 450px;
        font-size: 30px;  
    }
    
    .boton-banner{
        font-size: 30px;
        width: 170px;
        height: 60px;
        position: relative;
        top: -50px;
    }
    
    .animacion{
        position: relative;
        top: 80px;
        left: -7px;
        width:520px;
        height: 330px;
    }

    .animacion-imagen{
        width:520px;
        height: 331px;
    }
          
    @keyframes slide{
        0%{margin-left: 0px;}
        20%{margin-left: 0px;}
        
        25%{margin-left:-520px;}
        45%{margin-left:-520px;}
        
        50%{margin-left:-1040px;}
        70%{margin-left:-1040px;}
        
        75%{margin-left:-1560px;}
        100%{margin-left:-1560px;}
    }

}

@media(max-width:500px){

    .contenedor-banner{
        width: 100%;
        height: 655px;
    }
    
    .banner{
        position: relative;
        top: -50px;
        left: 10px;
        width: 340px;
        height:750px;
    }
    
    .contenidos-banner{
        position: relative;
        top:100px;
        left: -10px;
        width: 350px;
        height: 300px;
    }
    
    .solo-disfrute{
        font-size: 50px;
        height: 70px;
        width: 340px;
    }

    .descripcion{
        width: 340px;
        font-size: 25px;
    }
    
    .boton-banner{
        font-size: 25px;
        width: 100px;
        height: 50px;
        position: relative;
        top: -70px;
    }
    
    .animacion{
        position: relative;
        top: 10px;
        left: -15px;
        width:345px;
        height: 270px;
    }

    .animacion-imagen{
        width:345px;
        height: 271px;
    }
          
    @keyframes slide{
        0%{margin-left: 0px;}
        20%{margin-left: 0px;}
        
        25%{margin-left:-345px;}
        45%{margin-left:-345px;}
        
        50%{margin-left:-690px;}
        70%{margin-left:-690px;}
        
        75%{margin-left:-1035px;}
        100%{margin-left:-1034px;}
    }

}

@media(max-width:320px){

    .contenedor-banner{
        width: 100%;
        height:420px;
    }
    
    .banner{
        position: relative;
        top: -50px;
        left: -1px;
        width: 230px;
        height:450px;
    }
    
    .contenidos-banner{
        position: relative;
        top:100px;
        left: 1px;
        width: 230px;
        height: 300px;
    }
    
    .solo-disfrute{
        font-size: 35px;
        height: 70px;
        width: 230px;
    }

    .descripcion{
        width: 230px;
        font-size: 17px;
        position: relative;
        top: -50px;
    }
    
    .boton-banner{
        font-size:15px;
        width: 70px;
        height: 30px;
        position: relative;
        top: -120px;
    }
    
    .animacion{
        position: relative;
        top: -15px;
        left: -5px;
        width:230px;
        height: 160px;
    }

    .animacion-imagen{
        width:230px;
        height: 161px;
    }
          
    @keyframes slide{
        0%{margin-left: 0px;}
        20%{margin-left: 0px;}
        
        25%{margin-left:-230px;}
        45%{margin-left:-230px;}
        
        50%{margin-left:-460px;}
        70%{margin-left:-460px;}
        
        75%{margin-left:-690px;}
        100%{margin-left:-690px;}
    }

}

/*El footer */
.contenedor-footer{
    width: 100%;
    height: 300px;
    position: relative;
    top: 100px;
    max-width: 7000px;
}

body.dark .contenedor-footer{
    background: #151515;
}

.footer{
    display: grid;
    margin: auto;
    width: 965px;
    height: 300px;
}

.caja-des-movie{
    width: 480px;
    height: 130px;
    position: relative;
    top: 70px;
}

.logo-footer{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 1px 1px 10px #000;
}

body.dark .logo-footer{
    box-shadow: 1px 1px 10px rgb(255, 81, 0);
}

.demovie{
    font-family: 'Anton', sans-serif;
    font-family: 'Spline Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    position: relative;
    top: -60px;
    left: 50px;
}

body.dark .demovie{
    color: white;
}

.des-movie{
    font-style: italic;
    font-family: 'Anton', sans-serif;
    font-family: 'Spline Sans', sans-serif;
    font-weight: bold;
    font-size: 17px;
    position: relative;
    top: -80px;
    left: 30px;
}

body.dark .des-movie{
    color: white;
}

.lasredes{
    width: 150px;
    height: 180px;
    position: relative;
    top:-100px;
    left: 570px;
}

a{
    text-decoration: none;
}

.lared{
    font-family: 'Anton', sans-serif;
    font-family: 'Spline Sans', sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    font-style: italic;
}

body.dark .lared{
    color: white;
}

.lared1{
    color: orangered;
}

body.dark .lared1{
    color: orangered;
}

.lared2{
    color: blue;
}

body.dark .lared2{
    color: rgb(91, 91, 255);
}

.misredes{
    width: 160px;
    height: 180px;
    position: relative;
    top:-280px;
    left: 805px;
}

.copi{
    width: 965px;
    height: 80px;
    position: relative;
    top: -270px;
}

.hcopi{
    font-family: 'Anton', sans-serif;
    font-family: 'Spline Sans', sans-serif;
    font-weight: bold;
    position: relative;
    left: 330px;
    width: 350px;
    font-style: italic;
}

body.dark .hcopi{
    color: white;
}

@media(max-width:1000px){

    .contenedor-footer{
        width: 100%;
        height: 300px;
    }

    .footer{
        width: 780px;
        height: 300px;
    }

    .caja-des-movie{
        width: 400px;
        height: 130px;
    }

    .lasredes{
        position: relative;
        top:-100px;
        left: 460px;
    }

    .misredes{
        position: relative;
        top:-280px;
        left: 620px;
    }

    .copi{
        width: 780px;
        height: 80px;
    }

    .hcopi{
        position: relative;
        left: 230px;
        width: 350px;
    }
}

@media(max-width:800px){

    .contenedor-footer{
        width: 100%;
        height: 300px;
    }

    .footer{
        width:520px;
        height: 430px;
        position: relative;
        top: 40px;
    }

    .logo-footer{
        width: 50px;
        height: 50px;
        position: relative;
        top: -30px;
        left: 20px;
    }
    
    .demovie{
        font-size: 25px;
        position: relative;
        top: -90px;
        left: 70px;
        width: 100px;
    }

    .caja-des-movie{
        width: 520px;
        height: 130px;
        position: relative;
        left: -20px;
        top: 30px;
    }

    .des-movie{
        width: 500px;
        font-size: 25px;
        position: relative;
        top: -100px;
    }

    .lasredes{
        width: 200px;
        position: relative;
        top:50px;
        left: 10px;
    }

    .lared{
       font-size: 22px;
    }
    
    .misredes{
        position: relative;
        top:100px;
        left: 10px;
        width: 200px;
    }

    .copi{
        width: 520px;
        height: 80px;
        position: relative;
        top: 140px;
    }

    .hcopi{
        position: relative;
        left: 100px;
        width: 350px;
    }
}

@media(max-width:500px){

    .contenedor-footer{
        width: 100%;
        height: 600px;
    }

    .footer{
        width: 350px;
        height: 430px;
        position: relative;
        top: 50px;
    }

    .demovie{
        font-size: 25px;
        position: relative;
        top: -90px;
        left: 70px;
    }

    .caja-des-movie{
        width: 300px;
        height: 130px;
        position: relative;
        top:-5px;
        left: 5px;
    }

    .des-movie{
        width: 300px;
        font-size: 15px;
    }

    .lasredes{
        position: relative;
        top:-10px;
        left: 35px;
    }

    .lared{
        font-size: 17px;
    }

    .misredes{
        position: relative;
        top:-5px;
        left: 35px;
    }

    .copi{
        width: 350px;
        height: 80px;
        position: relative;
        top: 10px;
    }

    .hcopi{
        position: relative;
        left: 10px;
        width: 350px;
    }
}

@media(max-width:320px){

    .contenedor-footer{
        width: 100%;
        height: 600px;
    }

    .footer{
        width: 220px;
        height: 430px;
    }

    .caja-des-movie{
        width: 220px;
        height: 160px;
        position: relative;
        top:-5px;
        left: -35px;
    }

    .lasredes{
        position: relative;
        top:200px;
        left: 30px;
    }

    .des-movie{
        width: 250px;
    }

    .misredes{
        position: relative;
        top:-180px;
        left: 30px;
    }

    .copi{
        width: 220px;
        height: 80px;
        position: relative;
        top: 10px;
    }

    .hcopi{
        position: relative;
        left: 10px;
        width: 200px;
        font-size: 10px;
    }
}

/*Primer seccion*/

.contenedor-seccion{
    width: 100%;
    height: 300px;
    position: relative;
    top: 5px;
    max-width: 7000px;
    box-shadow: 0px 10px 5px -9px rgb(197, 197, 197);
    -webkit-box-shadow: 0px 10px 5px -9px rgb(197, 197, 197);
    -moz-box-shadow: 0px 10px 5px -9px rgb(197, 197, 197);
}

body.dark .contenedor-seccion{
    box-shadow: 0px 10px 5px -9px black;
    -webkit-box-shadow: 0px 10px 5px -9px black;
    -moz-box-shadow: 0px 10px 5px -9px black;
}

.seccion{
    display: grid;
    margin: auto;
    width: 990px;
    height: 250px;
    position: relative;
    top: 20px;
}

.caja-peliculas{
    width: 300px;
    height: 200px;
    border-radius: 5px;
    position: relative;
    top: 10px;
    box-shadow: 1px 1px 5px gray;
}

body.dark .caja-peliculas{
    box-shadow: 1px 1px 5px rgb(86, 86, 255);
} 

.imagen-caja-peliculas{
    width: 300px;
    height: 200px;
    border-radius: 5px;
    transition: 300ms;
}

.imagen-caja-peliculas:active{
   transform: scale(1.10);
}

.nom-cuadro-peliculas{
    color:rgb(86, 86, 255);
    font-family: 'Anton', sans-serif;
    font-family: 'Spline Sans', sans-serif;
    font-weight: bold;
    margin-left: 100px;
    font-size: 25px;
    margin-top:5px;
}

.caja-series{
    width: 300px;
    height: 200px;
    border-radius: 5px;
    position: relative;
    top: -190px;
    left: 345px;
    box-shadow: 1px 1px 5px gray;
}

body.dark .caja-series{
    box-shadow: 1px 1px 5px blueviolet;
} 

.imagen-caja-series{
    width: 300px;
    height: 200px;
    border-radius: 5px;
    transition: 300ms;
}

.imagen-caja-series:active{
    transform: scale(1.10);
}

.nom-cuadro-series{
    color: blueviolet;
    font-family: 'Anton', sans-serif;
    font-family: 'Spline Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    position: relative;
    top: -15px;
    left: 115px;
    width: 150px;
}

.caja-animes{
    width: 300px;
    height: 200px;
    border-radius: 5px;
    position: relative;
    top: -390px;
    left: 690px;
    box-shadow: 1px 1px 5px gray;
}

body.dark .caja-animes{
    background: #151515;
}

body.dark .caja-animes{
    box-shadow: 1px 1px 5px rgb(255, 81, 0);
}

.imagen-caja-animes{
    width: 300px;
    height: 200px;
    border-radius: 5px;
    transition: 300ms;
}

.imagen-caja-animes:active{
    transform: scale(1.10);
}

.nom-cuadro-animes{
    color: rgb(255, 81, 0);
    font-family: 'Anton', sans-serif;
    font-family: 'Spline Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 5px;
    margin-left: 115px;
}

@media (max-width:1000px){

    .contenedor-seccion{
        width: 100%;
        height: 230px;
    }
    
    .seccion{
        width: 780px;
        height: 200px;
    }
    
    .caja-peliculas{
        width: 230px;
        height: 150px;
    }
    
    .imagen-caja-peliculas{
        width: 230px;
        height: 150px;
    }

    .nom-cuadro-peliculas{
        margin-left: 75px;
        font-size: 25px;
        margin-top:1px;
    }
    
    .caja-series{
        width: 230px;
        height: 150px;
        position: relative;
        top: -140px;
        left: 275px;
    }
    
    .imagen-caja-series{
        width: 230px;
        height: 150px;
    }
    
    .nom-cuadro-series{
        font-size: 25px;
        position: relative;
        top: -15px;
        left: 85px;
        width: 150px;
    }
    
    .caja-animes{
        width: 230px;
        height: 150px;
        position: relative;
        top: -290px;
        left: 547px;
    }
    
    .imagen-caja-animes{
        width: 230px;
        height: 150px;
    }
    
    .nom-cuadro-animes{
        font-size: 25px;
        margin-top: 0px;
        margin-left: 85px;
    }
}

@media (max-width:800px){

    .contenedor-seccion{
        width: 100%;
        height: 920px;
        position: relative;
        top: 5px;
    }
    
    .seccion{
        width: 520px;
        height: 880px;
    }
    
    .caja-peliculas{
        width: 450px;
        height: 250px;
        position: relative;
        top: 1px;
        left: 35px;
    }

    .imagen-caja-peliculas{
        width: 450px;
        height: 250px;
    }
    
    .nom-cuadro-peliculas{
        margin-left: 150px;
        font-size: 30px;
        margin-top:5px;
    }
    
    .caja-series{
        width: 450px;
        height: 250px;
        position: relative;
        top: 10px;
        left: 35px;
    }
    
    .imagen-caja-series{
        width: 450px;
        height: 250px;
    }

    .nom-cuadro-series{
        font-size:30px;
        position: relative;
        top: -20px;
        left: 170px;
        width: 150px;
    }
    
    .caja-animes{
        width: 450px;
        height: 250px;
        position: relative;
        top: 10px;
        left: 35px;
    }
    
    .imagen-caja-animes{
        width: 450px;
        height: 250px;
    }
    
    .nom-cuadro-animes{
        font-size: 30px;
        margin-top: -1px;
        margin-left: 160px;
    }
}

@media (max-width:500px){

    .contenedor-seccion{
        width: 100%;
        height: 670px;
        position: relative;
        top: 5px;
    }
    
    .seccion{
        width: 280px;
        height: 570px;
        position: relative;
        top: 20px;
    }
    
    .caja-peliculas{
        width: 280px;
        height: 170px;
        position: relative;
        top: -1px;
        left: -5px;
    }
    
    .imagen-caja-peliculas{
        width: 280px;
        height: 170px;
    }

    .nom-cuadro-peliculas{
        margin-left: 85px;
        font-size: 25px;
        margin-top:-1px;
    }
    
    .caja-series{
        width: 280px;
        height: 170px;
        position: relative;
        top:20px;
        left: -5px;
    }

    .imagen-caja-series{
        width: 280px;
        height: 170px;
    }
    
    .nom-cuadro-series{
        font-size: 25px;
        position: relative;
        top: -15px;
        left: 100px;
        width: 150px;
    }
    
    .caja-animes{
        width: 280px;
        height: 170px;
        position: relative;
        top:40px;
        left: -5px;
    }
    
    .imagen-caja-animes{
        width: 280px;
        height: 170px;
    }
    
    .nom-cuadro-animes{
        font-size: 25px;
        margin-top: 0px;
        margin-left: 100px;
    }
}

@media (max-width:320px){

    .contenedor-seccion{
        width: 100%;
        height: 600px;
        position: relative;
        top: 5px;
    }
    
    .seccion{
        width: 230px;
        height: 570px;
        position: relative;
        top: 20px;
    }
    
    .caja-peliculas{
        width: 200px;
        height: 150px;
        position: relative;
        top: -1px;
        left: 15px;
    }
    
    .imagen-caja-peliculas{
        width: 200px;
        height: 150px;
    }

    .nom-cuadro-peliculas{
        margin-left: 50px;
        font-size: 25px;
        margin-top:-1px;
    }
    
    .caja-series{
        width: 200px;
        height: 150px;
        position: relative;
        top:1px;
        left: 15px;
    }

    .imagen-caja-series{
        width: 200px;
        height: 150px;
    }
    
    .nom-cuadro-series{
        font-size: 25px;
        position: relative;
        top: -15px;
        left: 70px;
        width: 150px;
    }
    
    .caja-animes{
        width: 200px;
        height: 150px;
        position: relative;
        top:1px;
        left: 15px;
    }
    
    .imagen-caja-animes{
        width: 200px;
        height: 150px;
    }
    
    .nom-cuadro-animes{
        font-size: 25px;
        margin-top: 0px;
        margin-left: 70px;
    }
}

/*Segundo seccion*/
.contenedor-seccion2{
    width: 100%;
    height: 460px;
    max-width: 7000px;
    position: relative;
    top: 10px;
    box-shadow: 0px 10px 5px -9px rgb(197, 197, 197);
    -webkit-box-shadow: 0px 10px 5px -9px rgb(197, 197, 197);
    -moz-box-shadow: 0px 10px 5px -9px rgb(197, 197, 197);
}

body.dark .contenedor-seccion2{
    box-shadow: 0px 10px 5px -9px black;
    -webkit-box-shadow: 0px 10px 5px -9px black;
    -moz-box-shadow: 0px 10px 5px -9px black;
}

.seccion2{
    display: grid;
    margin: auto;
    width: 965px;
    height: 400px;
    position: relative;
    top: 20px;
}

.publicidad{
    width: 350px;
    height: 350px;
    border-radius: 100%;
    box-shadow: 1px 1px 5px gray;
}

body.dark .publicidad{
    box-shadow: 1px 1px 10px black;
}

.imagen-publicidad{
    width: 350px;
    height: 350px;
    border-radius: 100%;
}

.cero{
    font-family: 'Anton', sans-serif;
    font-family: 'Spline Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    position: relative;
    left: 40px;
    top: -10px;
    width: 280px;
    color: rgb(255, 79, 79);
}

.gratis{
    width: 350px;
    height: 350px;
    position: relative;
    top: -350px;
    left: 615px;
    border-radius: 100%;
    box-shadow: 1px 1px 5px gray;
}

body.dark .gratis{
    box-shadow: 1px 1px 10px black;
    background: white;
}

.imagen-gratis{
    width: 350px;
    height: 350px;
    border-radius: 100%;
}

.degratis{
    font-family: 'Anton', sans-serif;
    font-family: 'Spline Sans', sans-serif;
    font-weight: bold;
    font-size: 25px;
    width: 210px;
    height: 30px;
    margin-left: 80px;
    margin-top: 10px;
}

body.dark .degratis{
    color: white;
}

.botondonar{
    font-family: 'Anton', sans-serif;
    font-family: 'Spline Sans', sans-serif;
    font-weight: bold;
    font-size: 19px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    position: relative;
    top: -500px;
    left: 400px;
    background:white ;
    color: black;
    cursor: pointer;
    border-color: black;
}

body.dark .botondonar{
    background: #202020;
    color: #EFEFEF;
    border-color: white;
}

.botondonar:active{
    background: black;
    color: white;
}

body.dark .botondonar:active{
    background: white;
    color: black;
}

@media(max-width:1000px){

    .contenedor-seccion2{
        width: 100%;
        height: 340px;
        position: relative;
        top: 10px;
    }
    
    .seccion2{
        width: 780px;
        height: 300px;
    }
    
    .publicidad{
        width: 270px;
        height: 270px;
    }
    
    .imagen-publicidad{
        width: 270px;
        height: 270px;
    }
    
    .cero{
        font-size: 20px;
        position: relative;
        left: 20px;
        top: -10px;
    }
    
    .gratis{
        width: 270px;
        height: 270px;
        position: relative;
        top: -270px;
        left: 505px;
    }
    
    .imagen-gratis{
        width: 270px;
        height: 270px;
    }
    
    .degratis{
        font-size: 20px;
        margin-left: 55px;
        margin-top: 5px;
    }
    
    .botondonar{
        font-size: 19px;
        width: 150px;
        height: 50px;
        position: relative;
        top: -420px;
        left: 310px;
    }
}

@media(max-width:800px){

    .contenedor-seccion2{
        width: 100%;
        height: 840px;
    }
    
    .seccion2{
        width: 270px;
        height: 900px;
    }

    .publicidad{
        width: 300px;
        height: 300px;
        position: relative;
        left: -30px;
    }

    .imagen-publicidad{
        width: 300px;
        height: 300px;
    }

    .cero{
        font-size: 20px;
        position: relative;
        left: 45px;
        top: -10px;
    }
    
    .gratis{
        width: 300px;
        height: 300px;
        position: relative;
        top: 80px;
        left: -30px;
    }

    .imagen-gratis{
        width: 300px;
        height: 300px;
    }

    .degratis{
        font-size: 20px;
        margin-left: 70px;
        margin-top: 5px;
    }
    
    .botondonar{
        position: relative;
        top: -390px;
        left: 45px;
    }
}

@media(max-width:500px){

    .contenedor-seccion2{
        width: 100%;
        height: 680px;
        position: relative;
        top: 5px;
    }
    
    .seccion2{
        width: 350px;
        height: 630px;
    }
    
    .publicidad{
        width: 250px;
        height: 250px;
        position: relative;
        left: 50px;
    }
    
    .imagen-publicidad{
        width: 250px;
        height: 250px;
    }
    
    .cero{
        font-size: 20px;
        position: relative;
        left: 15px;
        top: -10px;
    }
    
    .gratis{
        width: 250px;
        height: 250px;
        position: relative;
        top: 80px;
        left: 50px;
    }
    
    .imagen-gratis{
        width: 250px;
        height: 250px;
    }
    
    .degratis{
        font-size: 20px;
        margin-left: 45px;
        margin-top: 10px;
    }
    
    .botondonar{
        font-size: 15px;
        width: 130px;
        height: 40px;
        position: relative;
        top: -260px;
        left: 110px;
    }
}

@media(max-width:320px){

    .contenedor-seccion2{
        width: 100%;
        height: 570px;
        position: relative;
        top: 5px;
    }
    
    .seccion2{
        width: 230px;
        height: 550px;
    }
    
    .publicidad{
        width: 200px;
        height: 200px;
        position: relative;
        left: 15px;
    }
    
    .imagen-publicidad{
        width: 200px;
        height: 200px;
    }
    
    .cero{
        font-size: 17px;
        position: relative;
        left: 5px;
        top: -10px;
        width: 200px;
    }
    
    .gratis{
        width: 200px;
        height: 200px;
        position: relative;
        top: 60px;
        left:15px;
    }
    
    .imagen-gratis{
        width: 200px;
        height: 200px;
    }
    
    .degratis{
        width: 150px;
        font-size: 17px;
        margin-left: 35px;
        margin-top: 10px;
    }
    
    .botondonar{
        font-size: 15px;
        width: 130px;
        height: 40px;
        position: relative;
        top: -230px;
        left: 50px;
    }
}



    




